@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.8;
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "ヒラギノ角ゴ W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
  color: #222;
  letter-spacing: 1px;
}

.site-header {
  display: flex;
  justify-content: space-between;
}

.site-header-logo {
  margin-right: auto;
}

.site-header-container {
  margin-left: 24px;
}

.site-header-logo {
  display: flex;
  flex-direction: row;
}

.header-menu {
  display: flex;
  justify-content: flex-start;
}

.site-header-nav ul {
  list-style: none;
}
.site-header-nav li {
  display: inline-block;
}
.site-header-nav li a {
  text-decoration: none;
  color: #000;
  margin-left: 16px;
}
.site-header-nav .nav2 li {
  background-color: #f27c02;
  padding: 8px 16px;
  text-align: center;
  border-radius: 90px;
  margin: auto 16px;
}
.site-header-nav .nav2 li a {
  color: #fff;
  margin-left: auto;
}

.tel-inquiry {
  display: flex;
  align-items: center;
  margin: auto 24px;
}
.tel-inquiry img {
  margin-right: 40px;
  margin-top: 54px;
  margin-left: auto;
}
.tel-inquiry .tel-text {
  color: #082c74;
  margin-right: 26px;
}
.tel-inquiry .tel-text .tel-number {
  font-weight: bold;
  font-size: 20px;
  margin: -25px;
}

.hero {
  background: url(../img/mainvisual/main.png) no-repeat center center;
  background-size: cover;
  height: 560px;
}

.main-nav {
  margin-top: -16px;
}
.main-nav ul {
  list-style: none;
  text-align: right;
}
.main-nav li {
  display: inline-block;
  padding: 16px 24px;
  font-weight: bold;
  font-size: 20;
}
.main-nav .nav-arrow {
  text-decoration: none;
  color: #000;
  position: relative;
  display: inline-block;
  padding-left: 20px;
}
.main-nav .nav-arrow::before {
  content: "";
  width: 6px;
  height: 6px;
  border: 0;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -6px;
  transform: rotate(45deg);
}

.main-logo {
  text-align: center;
  margin: 190px auto 32px;
}

h1 {
  text-align: center;
  color: #fff;
  font-size: 32px;
  font-weight: 100;
}

h2 {
  margin: 64px 360px 64px;
  border-bottom: 2px solid;
  width: 560px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

.popularity {
  display: flex;
  flex-wrap: wrap;
}

.popularity-sec {
  width: 50%;
  height: 50%;
  position: relative;
  box-sizing: border-box;
  margin-bottom: -150px;
}
.popularity-sec img {
  width: 400px;
  height: 296px;
  margin-left: 54px;
  border-radius: 20px;
}

.popularity-text {
  background-color: rgba(252, 252, 252, 0.8);
  width: 356px;
  height: 296px;
  position: abs6olute;
  transform: translate(232px, -182px);
  margin: 15px 44px;
  box-shadow: 0px 5px 8px -5px #777777;
  border-radius: 20px;
}
.popularity-text h3 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 24px;
}
.popularity-text p {
  font-size: 20px;
  font-weight: 200;
  margin: -20px 24px;
}

.lesson-area {
  background-color: #2c38a8;
}
.lesson-area .lesson-title {
  display: grid;
  place-items: center;
}
.lesson-area h2 {
  color: #fff;
}
.lesson-area h3 {
  width: 100%;
  background-color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.lesson-section {
  display: flex;
  flex-wrap: wrap;
}

.lesson-sec {
  background-color: #fff;
  width: 47%;
  height: auto;
  display: flex;
  margin-left: 24px;
  margin-top: 20px;
}
.lesson-sec img {
  margin: 16px 27px;
  padding-top: 46px;
  width: 296px;
  height: 296px;
}

.lesson-text h4 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.lesson-text p {
  font-size: 20px;
  padding: 16px;
}
.lesson-text a {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 225px;
  padding: 10px 0px 10px 25px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 24px;
}
.lesson-text a:before,
.lesson-text a:after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
}
.lesson-text a:before {
  width: 0.5rem;
  height: 0.5rem;
  left: 1.1rem;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  z-index: 2;
  transform: translateY(-50%) rotate(45deg);
  transition: all 0.3s;
}
.lesson-text a:after {
  left: 0;
  background: #2c38a8;
  z-index: 1;
  width: 3rem;
  height: 3rem;
  border-radius: 4rem;
  transform: translateY(-50%);
  transition: all 0.5s;
}
.lesson-text a span {
  position: relative;
  transition: all 0.3s;
  z-index: 3;
}
.lesson-text a:hover span {
  color: #fff;
}
.lesson-text a:hover:before {
  left: 2rem;
}
.lesson-text a:hover:after {
  right: 0;
  width: 100%;
}

.lesson-cose {
  margin-top: 48px;
  display: flex;
}
.lesson-cose .lesson-cose-button {
  display: block;
  width: 47%;
  height: 78px;
  background-color: #fff;
  margin-left: 24px;
  text-align: center;
  margin-top: 21px;
  margin-bottom: 64px;
}
.lesson-cose .lesson-show {
  text-decoration: none;
  color: #053f5c;
  font-size: 24px;
  font-weight: bold;
}

.others-area {
  display: flex;
}

.school-search {
  background-color: #cdcfe6;
  margin-left: 24px;
  width: auto;
}
.school-search h3 {
  padding: 24px 24px;
}
.school-search img {
  margin-left: 20px;
  float: left;
}
.school-search .school-prefecture::after {
  content: "";
  display: block;
  clear: both;
}
.school-search ul {
  display: flex;
  flex-wrap: wrap;
  margin-right: 16px;
  margin-left: auto;
}
.school-search li {
  display: flex;
  list-style: none;
  padding-left: 21px;
  margin-bottom: 6px;
}
.school-search a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding: 8px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #333;
  font-size: 1em;
  transition: transform 0.3s, box-shadow 0.3s;
  text-decoration: none;
}
.school-search a:hover {
  transform: translateY(-2px);
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.15);
}
.school-search p {
  text-align: center;
  padding-bottom: 36px;
  font-size: 20px;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */